<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">>

  <!-- the targets to write to -->
  <targets>
    <target name="elastic" xsi:type="BufferingWrapper" flushTimeout="5000">
      <target xsi:type="ElasticSearch"
              uri="${configsetting:item=Elasticsearch.Url}"
              index="log-${configsetting:item=ServiceName}-${date:format=yyyy.MM}">
        <field name="service"
               layout="${configsetting:item=ServiceName}"/>
      </target>
    </target>
    <target xsi:type="Console"
          name="console"
          layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
      />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="elastic" />
    <logger name="*" minlevel="Warn" writeTo="console" />
  </rules>
</nlog>